li {
    text-decoration: none;
    list-style-type: none;
    font-size: 15px;
    color: #07433c;

    a {
        text-decoration: none;
        font-size: 15px;
        color: #07433c;
    }
}
h1{
    margin: 0px;
}

