nav {
    box-shadow: 0 1px rgb(218, 226, 225);
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    z-index: 1000;
}

nav .container {
    width: 100%;
    margin: auto;
}

nav .nav-first {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    li button {
        display: none;
    }

    .nav__first-title {
        display: flex;
        border: 2px solid red;
    }
}

nav .nav-first .nav-information {
    display: flex;
    justify-content: space-between;

    width: 10%;

    li a {
        position: relative;
        display: inline-block;
        color: black;
        text-decoration: none;


        &::before {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: black;
            transition: width 0.3s ease-in-out;
        }

        &:hover::before {
            width: 100%;
        }

    }
}

nav .nav-border {
    border-top: 2px solid black;
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
}

nav .nav-secondary {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: auto;
    text-transform: uppercase;

    li a {
        position: relative;
        display: inline-block;
        color: black;
        text-decoration: none;


        &::before {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: black;
            transition: width 0.3s ease-in-out;
        }

        &:hover::before {
            width: 100%;
        }

    }

    li img {
        display: none;
    }

    .nav__secondary-connexion {
        display: none;
    }

}



// // Responsive Tablette // //
@media only screen and (min-width: 576px) and (max-width: 992px) {
    nav {
        padding: 0px;
    }

    nav .container {
        max-width: 100%;
    }


    nav .nav-first {
        li button {
            display: initial;
        }
    }

    nav .nav-first .nav-information {
        .nav-connexion {
            display: none;
        }
    }

    nav .nav-border {
        display: none;
    }

    nav .nav-secondary {
        display: none;
        transition: right 2s ease-in-out;


        &.open {
            display: inline;
            position: fixed;
            top: 0;

            bottom: 0;
            width: 250px;
            background-color: #fff;
            z-index: 999;
            border: 5px solid red;

        }

        li a {
            padding: 10px;
            border-bottom: 1px solid grey;
            width: 80%;
        }

        li img {
            display: initial;
            margin-top: 24px;
            margin-bottom: 24px;
        }

        .nav__secondary-connexion {
            display: initial;
            position: relative;
            top: 375px;
            border-top: 1px solid grey;
            right: 30px;
            padding: 21px 0;

            a {

                border-bottom: none;
                width: 100%;
            }
        }
    }
}

// // Responsive MOBILE // //

@media only screen and (max-width: 576px) {
    nav {
        padding: 0px;
    }

    nav .container {
        max-width: 100%;

        box-shadow: 0 1px rgb(218, 226, 225)
    }


    nav .nav-first {
        padding: 0px;


        li button {
            display: initial;
        }
    }

    nav .nav-first .nav-information {
        .nav-connexion {
            display: none;
        }
    }


    nav .nav-border {
        display: none;
    }



    nav .nav-secondary {
        display: none;
        transition: right 2s ease-in-out;


        &.open {
            display: inline;
            position: fixed;
            top: 0;

            bottom: 0;
            width: 65%;
            background-color: #fff;
            z-index: 999;
            border: 5px solid red;

        }

        li a {
            padding: 21px 0;
            border-bottom: 1px solid grey;
            width: 80%;
        }

        li img {
            display: initial;
            margin-top: 24px;
            margin-bottom: 24px;
        }

        .nav__secondary-connexion {
            display: initial;
            position: relative;
            top: 300px;
            border-top: 1px solid grey;
            right: 30px;
            padding: 21px 0;

            a {

                border-bottom: none;
                width: 110%;
            }
        }
    }
}